<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All About Mars</title>
</head>
<body>
    <div class='container'>
        <!-- adding jumbotron to stretch across page -->
        <div class='jumbotron text-center'>
            <h1>Mission to Mars</h1>
            <!-- add a button to run the scrape script -->
            <p><a class="btn btn-info" href="/scrape" role="button">click for most recent data</a></p>
        </div>


        <!-- Adding a new section to display Mars facts -->
        
    </div>
    
</body>
</html>